* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(138, 43, 226);
    padding: 16px 0;
    color: #fff;
    display: flex; /* deixa o botão do lado do titulo */
    border-bottom: 16px solid rgb(92, 0, 177);
    justify-content: center; /* centraliza todo o elemento */
    text-transform: uppercase;
    font-style: italic;
}

header button{
    margin-left: 16px;
}

form {
    background-color: rgb(210, 210, 210);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: rgb(18, 173, 18);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar {
    background-color: rgb(255, 0, 0);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li{
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img{
    width: 100%;
    height: 280px;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link{
    opacity: 1;
}